<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.cqu.card.mapper.RechargeLogMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.cqu.card.model.RechargeLog" >
    <id column="RECHARGE_LOG_ID" property="rechargeLogId" jdbcType="INTEGER" />
    <result column="USER_PHONE" property="userPhone" jdbcType="CHAR" />
    <result column="RECHARGE_LOG_TIME" property="rechargeLogTime" jdbcType="TIMESTAMP" />
    <result column="RECHARGE_LOG_MONEY" property="rechargeLogMoney" jdbcType="REAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    RECHARGE_LOG_ID, USER_PHONE, RECHARGE_LOG_TIME, RECHARGE_LOG_MONEY
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from recharge_log
    where RECHARGE_LOG_ID = #{rechargeLogId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from recharge_log
    where RECHARGE_LOG_ID = #{rechargeLogId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.cqu.card.model.RechargeLog" >
    insert into recharge_log (RECHARGE_LOG_ID, USER_PHONE, RECHARGE_LOG_TIME, 
      RECHARGE_LOG_MONEY)
    values (#{rechargeLogId,jdbcType=INTEGER}, #{userPhone,jdbcType=CHAR}, #{rechargeLogTime,jdbcType=TIMESTAMP}, 
      #{rechargeLogMoney,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.cqu.card.model.RechargeLog" >
    insert into recharge_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rechargeLogId != null" >
        RECHARGE_LOG_ID,
      </if>
      <if test="userPhone != null" >
        USER_PHONE,
      </if>
      <if test="rechargeLogTime != null" >
        RECHARGE_LOG_TIME,
      </if>
      <if test="rechargeLogMoney != null" >
        RECHARGE_LOG_MONEY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rechargeLogId != null" >
        #{rechargeLogId,jdbcType=INTEGER},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=CHAR},
      </if>
      <if test="rechargeLogTime != null" >
        #{rechargeLogTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rechargeLogMoney != null" >
        #{rechargeLogMoney,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.cqu.card.model.RechargeLog" >
    update recharge_log
    <set >
      <if test="userPhone != null" >
        USER_PHONE = #{userPhone,jdbcType=CHAR},
      </if>
      <if test="rechargeLogTime != null" >
        RECHARGE_LOG_TIME = #{rechargeLogTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rechargeLogMoney != null" >
        RECHARGE_LOG_MONEY = #{rechargeLogMoney,jdbcType=REAL},
      </if>
    </set>
    where RECHARGE_LOG_ID = #{rechargeLogId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cqu.card.model.RechargeLog" >
    update recharge_log
    set USER_PHONE = #{userPhone,jdbcType=CHAR},
      RECHARGE_LOG_TIME = #{rechargeLogTime,jdbcType=TIMESTAMP},
      RECHARGE_LOG_MONEY = #{rechargeLogMoney,jdbcType=REAL}
    where RECHARGE_LOG_ID = #{rechargeLogId,jdbcType=INTEGER}
  </update>
</mapper>