<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.cqu.card.mapper.AdministratorMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.cqu.card.model.Administrator" >
    <id column="ADMIN_PHONE" property="adminPhone" jdbcType="CHAR" />
    <result column="ADMIN_PASSWORD" property="adminPassword" jdbcType="VARCHAR" />
    <result column="ADMIN_PIC" property="adminPic" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ADMIN_PHONE, ADMIN_PASSWORD, ADMIN_PIC
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from administrator
    where ADMIN_PHONE = #{adminPhone,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from administrator
    where ADMIN_PHONE = #{adminPhone,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.cqu.card.model.Administrator" >
    insert into administrator (ADMIN_PHONE, ADMIN_PASSWORD, ADMIN_PIC
      )
    values (#{adminPhone,jdbcType=CHAR}, #{adminPassword,jdbcType=VARCHAR}, #{adminPic,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.cqu.card.model.Administrator" >
    insert into administrator
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adminPhone != null" >
        ADMIN_PHONE,
      </if>
      <if test="adminPassword != null" >
        ADMIN_PASSWORD,
      </if>
      <if test="adminPic != null" >
        ADMIN_PIC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adminPhone != null" >
        #{adminPhone,jdbcType=CHAR},
      </if>
      <if test="adminPassword != null" >
        #{adminPassword,jdbcType=VARCHAR},
      </if>
      <if test="adminPic != null" >
        #{adminPic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.cqu.card.model.Administrator" >
    update administrator
    <set >
      <if test="adminPassword != null" >
        ADMIN_PASSWORD = #{adminPassword,jdbcType=VARCHAR},
      </if>
      <if test="adminPic != null" >
        ADMIN_PIC = #{adminPic,jdbcType=VARCHAR},
      </if>
    </set>
    where ADMIN_PHONE = #{adminPhone,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cqu.card.model.Administrator" >
    update administrator
    set ADMIN_PASSWORD = #{adminPassword,jdbcType=VARCHAR},
      ADMIN_PIC = #{adminPic,jdbcType=VARCHAR}
    where ADMIN_PHONE = #{adminPhone,jdbcType=CHAR}
  </update>
</mapper>